@charset "UTF-8";

body
{
	text-align:center;
	font-family:Georgia,Serif;
	background-color:#ffffff;
}

.content
{
	position:relative;
	margin:10px;
	padding:10px 40px;
	width:1100px;
	/* min-height:200px; */
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	display:block;
	clear:both;

    outline:1px solid #ddd;
	background-color:#fafafa;
	box-shadow:0 3px 3px rgba(0,0,0,0.2);
    moz-box-shadow:0 3px 3px rgba(0,0,0,0.2);
    webkit-box-shadow:0 3px 3px rgba(0,0,0,0.2);
}

.footer
{
	position:relative;
	width:1180px;
	margin-left:auto;
	margin-right:auto;
	clear:both;
	text-align:center;
	/*background-color:gray;*/
	/*outline:3px dotted pink;*/
}

/* Navigation */
#nav
{
	display: inline-block;
	margin: 0;
	padding: 7px 6px 0;
	line-height: 100%;
}

/* main level link */
#nav a
{
	text-transform: uppercase;
	color: #333333;
	text-decoration: none;
	display: block;
	padding:  8px 20px;
	margin: 0;

	padding:8px 10px;
	margin:10px;

	font-size:1em;   /* 16px/16=1em */
}

/* main level link hover */
#nav .current a
{
	background: #f15a23 repeat-x 0 -40px;
	color: #ffffff;
	/*border-top: solid 1px #f8f8f8;*/

}

#nav li:hover > a
{
	background: #f15a23 repeat-x 0 -40px;
	color: #ffffff;

        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -khtml-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
}

/* level 2 list */
#nav ul
{
	display: none;

	margin: 0;
	padding: 0;
	width: 120px;
	position: absolute;
	top: 45px;
	left: 10px;
	background: none #fff repeat-x 0 0;

	box-shadow:0 3px 3px rgba(0,0,0,0.2);
    moz-box-shadow:0 3px 3px rgba(0,0,0,0.2);
    webkit-box-shadow:0 3px 3px rgba(0,0,0,0.2);

        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -khtml-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
}

#nav ul a
{
    text-transform: none;
    font-size: 1em;   /* 16px/16=1em */
    font-weight: normal;
}

/* sub levels link hover */
#nav ul li:hover a, #nav li:hover li a
{
	background: none;
	border: none;
	color: #333333;

	padding:4px 5px;
	margin:0px;

	text-shadow: none !important;
}

#nav ul a:hover
{
	background: #f15a23 repeat-x 0 -100px !important;
	color: #ffffff !important;
}

#nav li
{
	margin: 0 5px;
	padding: 0 0 8px;
	float: left;
	position: relative;
	list-style: none;
}

#nav a:hover
{
	background: #000;
	color: #fff;
}

/* dropdown */
#nav li:hover > ul
{
	display: block;
	z-index:3;
}

#nav ul li
{
	float: none;
	margin: 0;
	padding: 0;
}

/* level 3+ list */
#nav ul ul
{
	left: 75px;
	top: 0px;
}

/* Navigation */
/* clearfix */
#nav:after
{
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

/*
html[xmlns] #nav
{
	display: block;
}
*/

* html #nav
{
	height: 1%;
}

/* Overlay Styles */
.overlay3
{
	position:relative;
	display: inline-block;
	margin-left:auto;
	margin-right:auto;
	padding:40px;
	text-align: center;
	z-index:13;

	outline:1px solid #ddd;
	background-color:#fafafa;
	box-shadow:0 3px 3px rgba(0,0,0,0.2);
    moz-box-shadow:0 3px 3px rgba(0,0,0,0.2);
    webkit-box-shadow:0 3px 3px rgba(0,0,0,0.2);
}
